=render "share/header"

.main
  =render "share/side-contents"
  .main-content
    .main-body
      =render partial: "messages", locals: {chats: @chats}
    .main-form
      = form_for [@group, @chat], html:{class:"form-body"} do |f|
        .new-message
          .new-message__input-box
            = f.text_field :chat, class: "new-message__input-box--text", placeholder: 'type a message'
            .new-message__input-box__image-box
              %label.image
                = fa_icon 'fa-image', class: 'fa fa-image new-message__input-box__image-box--image'
                = f.file_field :image, class: 'new-message__input-box__image-box--filesend'
          .new-message__input-box--send
            = f.submit 'Send', class:"btn-submit"
